<h1>Listing crash_tests</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @crash_tests.each do |crash_test| %>
  <tr>
    <td><%= crash_test.name %></td>
    <td><%= link_to 'Show', crash_test %></td>
    <td><%= link_to 'Edit', edit_crash_test_path(crash_test) %></td>
    <td><%= link_to 'Destroy', crash_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Crash test', new_crash_test_path %>
